body {
    background-color: #ffffff;
    color: #212529;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
    background-color: #f8f9fa;
}

.card {
    transition: transform 0.2s, box-shadow 0.2s;
    height: 100%;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

.description-text {
    height: 60px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    font-size: 0.9rem;
}

header {
    z-index: 1030;
}

.sticky-top {
    z-index: 1020;
}

footer {
    width: 100%;
    margin-top: auto; 
}

footer .lista li {
    font-size: 0.95rem;
    color: #adb5bd; 
}

footer .szin {
    color: #0d6efd !important; 
}



@media (max-width: 576px) {
    #product-list > div {
        width: 100%;
    }
}

@media (min-width: 577px) and (max-width: 768px) {
    #product-list > div {
        width: 50%;
    }
}


@media (min-width: 769px) and (max-width: 992px) {
    #product-list > div {
        width: 33.333%;
    }
}

@media (min-width: 993px) {
    #product-list > div {
        width: 25%;
    }
}

[data-bs-theme="dark"] body {
    background-color: #121212; 
    color: #f8f9fa;           
}

[data-bs-theme="dark"] .bg-light {
    background-color: #1e1e1e !important;
}

[data-bs-theme="dark"] .card {
    background-color: #1e1e1e;
    border-color: #333;
}

[data-bs-theme="dark"] #add-product .shadow-sm {
    background-color: #1e1e1e;
    border: 1px solid #333;
}

[data-bs-theme="dark"] {

    .card-text.fw-bold, 
    .text-primary, 
    #edit-price {
        color: #39FF14 !important;
    }

    .btn-primary, 
    .btn-success {
        background-color: transparent !important;
        border-color: #39FF14 !important;
        color: #39FF14 !important;
        box-shadow: 0 0 5px #39FF14;
        transition: all 0.3s ease;
    }

    .btn-primary:hover, 
    .btn-success:hover {
        background-color: #39FF14 !important;
        color: #000 !important;
        box-shadow: 0 0 15px #39FF14;
    }

    #termek_hozzaadas, 
    #edit-form button {
        border-color: #39FF14 !important;
        color: #39FF14 !important;
    }
}

[data-bs-theme="dark"] .card {
    border: 1px solid rgba(57, 255, 20, 0.2);
}

[data-bs-theme="dark"] .card .btn {
    background-color: transparent !important;
    border: 2px solid #39FF14 !important;
    color: #39FF14 !important;
    box-shadow: 0 0 5px rgba(57, 255, 20, 0.5);
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

[data-bs-theme="dark"] .card .btn:hover {
    background-color: #39FF14 !important;
    color: #000 !important;
    box-shadow: 0 0 20px #39FF14;
    transform: scale(1.05);
}

[data-bs-theme="dark"] .card-text.fw-bold, 
[data-bs-theme="dark"] .card .text-primary {
    color: #39FF14 !important;
}
